/Hero10.class
/Hero8.class
/Hero9.class
/Hero9_10.class
/Hero9_16.class
/Hero9_8.class
/Item.class
/Main10.class
/Main9.class
/Main9_11.class
/Main9_13.class
/Main9_16.class
/Main9_6.class
/Main9_9.class
/Matango10.class
/PoisonMatango10.class
/SuperHero10.class
/Sword9.class
/Thief.class
/Weapon.class
/Wizard9.class
/main8.class
/main8_4.class
/matango8.class
