<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><!--このHTMLでThymeleafを使いますという宣言-->

<head th:replace="common/head::head_fragment(title='ユーザー新規登録',scripts=~{::script},links=~{::link})"></head>
<!--th:replaceで共通部品のhead部品を読み込み、このページ名を「ユーザー新規登録」にしている-->

<body>
	<div class="container"> <!--containerで中央寄せレイアウト-->
		<div th:if="${validationError}" th:each="error:${validationError}">
			<!--th:if="${validationError}"validationError がある時だけ表示-->
			<!--th:each="error:${validationError}"errorListの中身を1件ずつ取り出す-->
			<label class="text-danger" th:text="${error}"></label>
		</div>
		<h1>ユーザー新規登録</h1>
		<form th:action="@{/user/create}" th:object="${userrequest}" th:method="post">

			<div class="form-group">
				<label>名前：<span class="text-danger">※</span></label>
				<input type="text" th:field="*{name}" class="form-control">
			</div>

			<div class="form-group">
				<label>住所：</label>
				<input type="text" th:field="*{address}" class="form-control">
			</div>

			<div class="form-group">
				<label>電話番号：<span class="text-danger">※</span></label>
				<input type="text" th:field="*{phone}" class="form-control">
			</div>
			<br />
			<div class="text-center"><!--真ん中に表示する箱-->
				<a href="/user/list" class="btn btn-secondary">キャンセル</a><!--a hrefで/user/listへ飛ぶ-->>
				<input type="submit" value="登録" class="btn btn-primary"><!--input type="submit"で入力内容をサーバーへ送る-->
			</div>

		</form>
	</div>

</body>

</html>